body{
  padding: 15px;
}
nav ul{
  list-style: none;
  display: flex;
  gap:10px;
  background:#ebebeb;
  border-radius:5px;
  padding: 10px 15px;
}
nav ul li a{
  text-decoration: none;
}
.postlist {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:10px;
}
.postlist li{
  padding: 10px;
  background:#ebebeb;
  border-radius:5px;
}